.direnv/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# Pre-commit
.pre-commit-config.yaml

# Node / TypeScript
node_modules/
dist/
build/
*.log
.env
.env.*

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
